POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=CAMBIA_ESTA_PASSWORD_SEGURA

JWT_SECRET=CAMBIA_ESTE_SECRET_MINIMO_32_CARACTERES
JWT_EXPIRY=3600

ANON_KEY=PEGA_AQUI_TU_ANON_KEY
SERVICE_ROLE_KEY=PEGA_AQUI_TU_SERVICE_ROLE_KEY
SECRET_KEY_BASE=CAMBIA_ESTE_SECRET_KEY_BASE_LARGO
PG_META_CRYPTO_KEY=CAMBIA_ESTE_CRYPTO_KEY_32_CHARS

SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=http://localhost:3000
API_EXTERNAL_URL=http://localhost:8000
SUPABASE_PUBLIC_URL=http://localhost:8000

KONG_HTTP_PORT=8000

STUDIO_ORG=ALCORE
STUDIO_PROJECT=Supabase Local
